.container {
    margin: 10rem auto;
    width: 980px;
}

.container > p {
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: lightseagreen;
    text-align: center;
    transition: .4s;
    cursor: pointer;
}

.container > p:hover {
    transform: scale(1.2);
    color: rebeccapurple;
}

@media screen and (max-width: 414px){
    .container {
        width: 350px;
    }
}